
@{
    ViewBag.Title = "Filter";
    List<Prueba_1.Models.Rank> lstRank1 = ViewBag.Lst_Final;
}
<hr />

@if (lstRank1.Count() > 0)
{
    <div class="container">
        <h2>Tabla de datos</h2>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Item</th>
                    <th>Repo Name</th>
                    <th>Stars</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lstRank1)
                {
                    <tr>
                        <td>@item.rank</td>
                        <td>@item.item</td>
                        <td>@item.repo_name</td>
                        <td>@item.stars</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<a href="@Url.Action("Index", "Ranking")" class="btn btn-primary">
    <span>Regresar</span>
</a>


